* {
  margin: 0;
  padding: 0;
}


html, body {
  overflow-y:scroll;
  overflow-x:hidden;
  height: 100%;
}
.container-fluid,.row,.col-lg-4{
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

p.texture {
    color: #808080b3;
    font-size: 13px;
    margin: 2px;
}
button.btn.btn-primary {
  background: #1fbd72;
  border: 0px solid transparent;
  width: 90px;
  height: 30px;
  color: black;
}
a.btn3 {
  float: right;
  margin: 20px;
  margin-right: 0px;
  background: #83b440;
  left: 0;
}

.index .label {
  text-transform: uppercase;
}

input.form-control {
  margin-bottom: 10px;
}

form {
  padding: 5px 0px;
}

.col-md-8.col-md-push-2 {
  margin-top: 60px;
  position: relative;

}
.col-md-8.col-md-push-2:after {
  content: "";
  background: #f8f9fa;
  position: absolute;
  top: 0;
  left: 12%;
  width: 500px;
  height: 10px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.col-md-8.col-md-push-2:before {
  content: "";
  background: #f8f9fa;
  position: absolute;
  bottom: 0;
  left: 12%;
  width: 500px;
  height: 4px;
  border-radius: 5px;
}

.rownho a.icon3soc {
  width: 60px;
  line-height: 60px;
  float: right;
  font-size: 32px;
  color: #382e2ea6;
  background: #80808047;
  text-align: center;
  border-radius: 100%;
  margin-right: 60px;
}

a.navbar-brand {
  width: 250px;
  height: 60px;
  line-height: 60px;
  padding-left: 60px;
}

a.btn2 {
  margin-right: 60px;
  line-height: 60px;
  height: 60px;
}

.col-lg-8 {
    padding-top: 70px;
}

.icon1 {
  width: 200px;
  margin-right: -30px;
  color: #80808082;
}
button.btn.btn-default {
  background: #82b440;
  box-shadow: 0 1px 0 #82b440;
  border: none;
}
nav.navbar.navbar-default {
  margin: 0;
  height: 60px;
  border: none;
}
.container-fluid {
  padding: 0px;
}
.icon1 .smallicon {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}
.top1 .logo1 {
  font-size: 40px;
  width: 50px;
  height: 100%;
  margin-left: 30px;
}
.col-lg-4 {
  background-color: #1dbe72;
  padding-top: 50px;
}
.navbar-header .btn2 {
  position: absolute;
  right: 0;
  height: 60px;
  line-height: 60px;
  width: 130px;
}
nav.navbar.navbar-default {
  background-color: #262626;
}
.top1 {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px 0px;
    background: #21bc72;
}
@media (max-width: 768px) {
  /* For mobile phones: */
  .row,.col-lg-4{
    height: 830px;
  }
  .col-lg-8{
    margin: 0px 15px;
  }
  .col-md-8.col-md-push-2:after {
    content: "";
    background: #f8f9fa;
    position: absolute;
    top: 0;
    left: 20%;
    width: 300px;
    border-radius: 5px;
    margin: -30px;
  }
  .rownho a.icon3soc {
    display: none;
  }
}
.confirm .col-md-8.col-md-push-2:after {
    content: "";
    background: #1fbd72;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
  }
  .confirm .col-md-8.col-md-push-2 {
    margin-top: 150px;
}

.portfolio .nd1 {
  background-image: url(img/nd1/bgnd1.jpg);
  background-size: cover;
  background-position: center;
}
.portfolio .nd1 h1{
  padding-top: 220px;
  font-size: 70px;
  color: #ffffffe8;
}
.portfolio .nd1 p{
  padding-bottom: 30px;
  width: 480px;
  margin: auto;
  font-size: 14px;
  color: #ffffff7a;
}
.portfolio .nd1 a.nutnd1 .btn{
  font-size: 25px;
  background: #2ca8a0;
  color: #000000a6;
  padding: 10px 20px;
  margin: 10px;
}
.portfolio .nd1 a.nutnd1 .btn-light{
  background: transparent;
  color: white;
  border: 2px solid white;
}
.portfolio .col-sm-4 img {height: 330px;width: 100%;object-fit: cover;}

.portfolio .nd2 .col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.portfolio p.textnd2 {
  background: #000000e0;
  text-align: center;
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 40px;
  margin: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.portfolio .special_amp {
  font-family: "Baskerville", "Palatino Linotype", "Palatino", "Times New Roman", serif;
  font-style: italic;
  font-size: 1.3em;
  color: #4ecac2;
}